*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

/* general-styles */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}

.button {
  min-height: 34px;
  border: 1px solid currentColor;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
  text-align: center;
  background-color: transparent;
}

.content {
  display: flex;
  justify-content: space-between;
  width: 1146px;
  height: 540px;
  padding: 3px;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-self: flex-end;
  width: 711px;
  margin-bottom: 0;
}

.result__video-container {
  position: relative;
  width: 100%;
  height: 386px;
  overflow: hidden;
}

.result__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* saerch-bar */
.search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 54px;
}

.search-form__fieldset {
  align-self: flex-start;
  border: none;
}

.search-form__fieldset-title {
  margin-top: 3px;
  margin-bottom: 6px;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 100%;
  letter-spacing: 0;
}

.search-form__label-text {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
}

.search-form__textfield {
  width: 225px;
  height: 27px;
  border-top: 1px solid #fff;
  border-right: none;
  border-bottom: 1px solid #fff;
  border-left: none;
  padding: 0;
  color: #fff;
  font-family: inherit;
  font-size: 18px;
  background-color: transparent;
}

.search-form__textfield::placeholder {
  color: #ffffffb2;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  vertical-align: middle;
  background-color: transparent;
}

input[type="checkbox"]:checked + .search-form__pseudo-checkbox {
  margin: 2px;
  height: 15px;
  width: 15px;
  background-color: #fff;
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__checkbox-list {
  display: flex;
  justify-content: space-between;
  width: 212px;
}

.search-form__submit-button {
  align-self: flex-end;
  width: 194px;
}

/* ctyes-section */
.content__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 399px;
  height: 100%;
  padding-top: 3px;
}

.title {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 0.945;
  text-transform: uppercase;
  cursor: default;
}

.content__accent {
  color: #545050;
}

/* cards-section */
.content__list-container {
  display: flex;
  flex-direction: column;
  height: 300px;
  padding-right: 3px;
  padding-left: 2px;
  padding-top: 2px;
  overflow: hidden auto;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  text-overflow: ellipsis;
}

.content__video-card-description-container {
  text-overflow: ellipsis;
  padding-top: 3px;
}

.content__video-card-title {
  width: 196px;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0;
  text-transform: uppercase;
  text-overflow: ellipsis;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  letter-spacing: 0;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
}

.content__list-item {
  margin-bottom: 30px;
}

.more-button {
  margin-bottom: 2px;
}

.content__card-link {
  color: #fff;
  text-decoration: none;
}

/* states */
:focus {
  outline: none;
}

.button:active,
.content__video-card:active {
  background-color: #545050;
}

.button:hover,
.content__video-card:hover,
.search-form__label-text:hover,
.search-form__pseudo-checkbox:hover,
.search-form__pseudo-checkbox:hover + .search-form__label-text {
  text-decoration: underline;
  text-decoration-thickness: 1.25px;
  text-underline-offset: 1px;
  cursor: pointer;
}

.button:focus-visible,
.search-form__label:has(.search-form__checkbox:focus-visible),
.search-form__textfield:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__list-item:has(.content__card-link:focus-visible) {
  outline: 1px solid #fff;
}
